extends layout

block content 
    if cars_list.length
        h2 You must delete the following cars before deleting the #{name} brand.
        each car in cars_list
            a(href=car.url).car
                    img(src=car.imageURL, alt=`${car.name} shot`)
                    div.description
                        h4 #{car.name}
                        h4 $#{car.price.toLocaleString()}

    else 
        h2 Do you really want to remove the #{name} brand?

        form(method="POST" action="").delete
            div.form-group
                input(type="hidden", name="name", required="true", value=name)
            
            button(type="submit") Delete