extends layout

block content
  h2 #{title}

  if brand_list
    div.brands
      each brand in brand_list 
        div.brand
          a(href=brand.url alt=`Click to view our ${brand.name} cars`) 
            img(src=`${brand.logoURL}`, alt=`${brand.name} logo`)
            h4 #{brand.name}
  else
    p Our inventory is empty at the moment.

  a(href="/create").create Click here to add a new brand
