extends layout

block content
  h2 #{title}

  if brand_list
    div.brands
      each brand in brand_list 
        a(href=brand.url) 
          div.brand
            img(src=`${brand.logoURL}`, alt=`${brand.name} logo`)
            h4 #{brand.name}
  else
    p Our inventory is empty at the moment.

  a(href="/create").create Have a brand you want to add? Click here 
